/*************************/
/*----------Imports-------*/
/*************************/
@import url('https://fonts.googleapis.com/css?family=Sansita:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Lobster');

/*************************/
/*----------Fonts-------*/
/*************************/
$font-main: 'Sansita', sans-serif;
$font-accent: 'Lobster', cursive;

/*************************/
/*----------Colors-------*/
/*************************/

$color-white: #fff;
$color-pale: #c0dacf;
$color-accent: #7a2047;


