/*************************/
/*----------Imports-------*/
/*************************/
@import url('https://fonts.googleapis.com/css?family=Sansita:400,400i,700');

/*************************/
/*----------Fonts-------*/
/*************************/
$font-main: 'Sansita', sans-serif;

/*************************/
/*----------Colors-------*/
/*************************/

$color-white: #fff;
$color-pale: #ffc;
$color-accent: #7a2047;


